// customize bootstrap variables here:
@import "variables"
@import "bootstrap"

// General settings
$body-bg: #ecf0f1


// Navbar and logo
img.logo
  height: 80px
  margin-top: -4px
  -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,1.0))
  filter: drop-shadow(0 0 2px rgba(255,255,255,1.0))

.logo-wrapper
  margin: 0 2em 0 0

ul.nav
  font-size: 17px
  font-weight: 700
  text-transform: uppercase

  padding: 1.4em 0 0.4em 0

  li
    padding-right: 1.8em

.navbar
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7)
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.7)
  box-shadow: 0 0 4px rgba(0,0,0,0.7)

// Hero section
.hero
  position:   relative
  overflow:   hidden
  padding:    5em 0 2em 0
  text-align: center
  color:      $text-color-inverse
  min-height: 4em

  background: url('../img/roadster_1.jpg') no-repeat 0 -60px
  background-size: cover

  h2
    margin: 6em 0 6em 0


// Footer
footer
  padding:        2em 0
  background:     darken($gray, 20%)
  color:          $white

img.logotype
  margin:         4em 0 0 -10px
  width:          250px
